*.env
assets/
backups/
data/
apps/static-file-server/site*
apps/authentik/assets*
apps/caddy-ingress/hostmap.json
Caddyfile
todo.md
*.htpasswd
apps/rclone/config/rclone.conf
apps/quizzies/quizzies.db
