services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.2
    container_name: jellyfin
    restart: unless-stopped
    volumes:
      - ~/selfhosted/data/jellyfin/config:/config
      - ~/selfhosted/data/jellyfin/cache:/cache
      - ~/selfhosted/data/jellyfin/tmp:/tmp
      - /mnt/data/media:/media
    networks:
      - swarmnet # upstreams 8096

networks:
  swarmnet:
    external: true
    driver: overlay
