services:
  homarr:
    container_name: homarr
    image: ghcr.io/homarr-labs/homarr:latest
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/selfhosted/data/homarr/appdata:/appdata
    env_file:
      - .env
    networks:
      - swarmnet # upstreams 7575

  prowlarr:
    image: ghcr.io/hotio/prowlarr:release
    container_name: prowlarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=America/Chicago
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ~/selfhosted/data/prowlarr:/config
      - ./custom-indexers:/config/Definitions/Custom
    networks:
      - swarmnet # upstreams 9696

  autobrr:
    image: ghcr.io/autobrr/autobrr:latest
    container_name: autobrr
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ~/selfhosted/data/autobrr:/config
    networks:
      - swarmnet # upstreams 7474

  sonarr:
    image: ghcr.io/hotio/sonarr:release
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=America/Chicago
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ~/selfhosted/data/sonarr:/config
      - /mnt/data:/mnt/data
    networks:
      - swarmnet # upstreams 8989

  radarr:
    image: ghcr.io/hotio/radarr:release
    container_name: radarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=America/Chicago
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ~/selfhosted/data/radarr:/config
      - /mnt/data:/mnt/data
    networks:
      - swarmnet # upstreams 7878

  seerr:
    image: ghcr.io/fallenbagel/jellyseerr:2.7.3
    container_name: seerr
    restart: unless-stopped
    init: true
    env_file:
      - .env
    environment:
      - LOG_LEVEL=debug
    volumes:
      - /selfhosted/data/seerr:/app/config
    networks:
      - swarmnet # upstreams 5055
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3

  bazarr:
    image: ghcr.io/hotio/bazarr:release
    container_name: bazarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=America/Chicago
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ~/selfhosted/data/bazarr:/config
      - /mnt/data/media:/mnt/data/media
    networks:
      - swarmnet # upstreams 6767

  qbittorrent:
    image: ghcr.io/hotio/qbittorrent:release
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - TZ=America/Chicago
      - WEBUI_PORT=8080
    volumes:
      - ~/selfhosted/data/qbittorrent/appdata:/config
      - /mnt/data/torrents:/mnt/data/torrents
    network_mode: "service:gluetun" # upstreams 8080
    depends_on:
      gluetun:
        condition: service_healthy

  sabnzbd:
    image: ghcr.io/hotio/sabnzbd:release
    container_name: sabnzbd
    restart: unless-stopped
    environment:
      - TZ=America/Chicago
      - WEBUI_PORTS=15544/tcp,15544/udp
    volumes:
      - ~/selfhosted/data/sabnzbd/config:/config
      - /mnt/data/usenet:/mnt/data/usenet
    network_mode: "service:gluetun" # upstreams 15544
    depends_on:
      gluetun:
        condition: service_healthy

  ephemera:
    image: ghcr.io/orwellianepilogue/ephemera:1.3.1
    container_name: ephemera
    restart: unless-stopped
    env_file:
      - .env
    environment:
      FLARESOLVERR_URL: http://flaresolverr:8191
      PUID: 0
      PGID: 0
    volumes:
      - ~/selfhosted/data/ephemera/data:/app/data
      - ~/selfhosted/data/ephemera/downloads:/app/downloads
      - ~/selfhosted/data/booklore/bookdrop:/app/ingest
    network_mode: "service:gluetun" # upstreams 8286
    depends_on:
      gluetun:
        condition: service_healthy

  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    env_file:
      - .env
    environment:
      - VPN_SERVICE_PROVIDER=mullvad
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES=10.71.63.242/32
      - SERVER_CITIES=Amsterdam
    networks:
      - swarmnet
    ports:
      - 8080:8080
      - 8286:8286
      - 17426:17426/tcp
      - 17426:17426/udp
      - 15544:15544/tcp
      - 15544:15544/udp

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_FILE=${LOG_FILE:-none}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
    volumes:
      - /var/lib/flaresolver:/config
    networks:
      - swarmnet # upstreams 8191

networks:
  swarmnet:
    external: true
    driver: overlay
